body {
  padding: 50px;
  font: 14px;
}

a {
  color: #00B7FF;
}

.index_container {
  background-color: #EEEEEE;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 20px;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0px auto;
}

