- var bs_css_source   = '/bootstrap/dist/css/bootstrap.min.css'
- var bs_js_source    = '/bootstrap/dist/js/bootstrap.min.js'
- var main_css_source = '/stylesheets/style.css'

title= title
// Bootstrap 
link(rel='stylesheet', href=bs_css_source)
script(src=bs_js_source)

// Custom
link(rel='stylesheet', href=main_css_source)

