extends layout

block content
  div.index_container
    h1 Express 101
    p.lead Express 101 example with Bootstrap framework
    p
      a.btn.btn-primary.btn-large(href='/login') Login
      a.btn.btn-default.btn-large(href='/reg') Register Now!

  div.row
    div.col-md-4
      h2 A
      p Ursa Minor (Little Bear) is a constellation in the northern sky. It is colloquially known as the Little Dipper because its seven brightest stars appear to form the shape of a ladle (diagram pictured). It was one of the 4
    div.col-md-4
      h2 B
      p constellations listed by the 2nd-century astronomer Ptolemy, and it remains one of the 88 modern constellations. Polaris, its brightest star, is currently less than one degree away from
    div.col-md-4
      h2 C
      p that in the painting A Meat Stall with the Holy Family Giving Alms (pictured), a handwritten sign in Flemish is posted on a wood placard that scholars have stated represented a warning to society at that time?
