extends layout

block content
  form.form-signin(role='form')
    h2.form-signin-heading(align='center')= title
    label.sr-only(for='inputEmail') Email address
    input.form-control#inputEmail(type='email', placeholder='Email address' required autofocus)
    label.sr-only(for='inputPassword') Password
    input.form-control#inputPassword(type='password', placeholder='Password' required)
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
