extends layout

block content
  form.form-horizontal(method='post')
    fieldset
      legend= title
      div.control-group
        div.controls
          input.input-xlarge#username(type='text', name='username')
      div.control-group
        div.controls
          input.input-xlarge#password(type='password', name='password')
      div.control-group
        div.controls
          input.input-xlarge#password-repeat(type='password', name='password-repeat')
      div.form-actions
        button.btn.btn-primary(type='submit') Register

